<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>FALL | About</title>
    <!--    local link files-->
    <link rel="script" href="javascript/fall.js">
    <link rel="stylesheet" media="screen and (max-width: 768px)" href="css/mobile.css">
    <link rel="stylesheet" href="css/fall_style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://fonts.google.com/">
</head>

<body>
<nav id="navbar">
    <div class="nav-container">
        <h2 class="nav-logo head-font"><i class="fa-solid fa-b"></i> FALL</h2>
        <ul class="nav-list">
            <li class="a"><a href="fall_form.html"><i class="fa-regular fa-user"></i> Sign-up</a></li>
            <li><a href="contact.html"><i class="fa-solid fa-phone"></i> Contact Us</a></li>
            <li><a href="fall.html"><i class="fa-solid fa-house"></i> Home</a></li>
            <li><a href="about.html"><i class="fa-regular fa-circle-question"></i> About</a></li>
        </ul>
    </div>
</nav>

    <div class="s-container" id="abt-info">
        <div class="info-left">
            <h1 class="head-font"> About <span class="txt-fall">FALL</span> Car & Accessories </h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae cupiditate dolorum est, id quae qui reiciendis rem repellat. Cum ea error est ipsa iusto labore necessitatibus obcaecati rem, similique tempora.</p>

            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae deleniti deserunt exercitationem taque minus mollitia non qui rerum, soluta.</p>
        </div>

        <div class="info-right">
            <img src="img/cars/abt.jpeg" alt="cars">
        </div>
    </div>
</section>

<div class="clr"></div>

<section id="testimonials" class="py-2">
    <div class="s-container">
        <h2><span class="lux font-size-30">Guests Reaction</span></h2>
        <div class="testimonial bg-spd">
            <img src="img/user.png" alt="user">
            <p>Lorem ipsum dm repellat reprehenderit saepe sint unde ut veniam vero voluptates. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam, minima.</p>
        </div>

        <div class="testimonial bg-spd">
            <img src="img/user.png" alt="user">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi exercitationem in quis rerum tenetur. Ad dolor eaque facere laborum necessitatibus neque non repellendus sapiente! Autem cumque.</p>
        </div>

        <div class="testimonial bg-spd">
            <img src="img/user.png" alt="user">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi exercitationem in qpiente! Autem cumque.</p>
        </div>
    </div>
</section>

<div class="clr"></div>

<footer id="main-footer">
    <p><span class="txt-fall">FALL</span> Car and Accessories &copy 2022, ALL RIGHTS RESERVED</p>
</footer>

</body>
</html>