<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>FALL | Contacts</title>
  <!--    local link files-->
  <link rel="script" href="javascript/fall.js">
  <link rel="stylesheet" media="screen and (max-width: 768px)" href="css/mobile.css">
  <link rel="stylesheet" href="css/fall_style.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="https://fonts.google.com/">
</head>

<body>
<nav id="navbar">
  <div class="nav-container">
    <h2 class="nav-logo head-font"><i class="fa-solid fa-b"></i> FALL</h2>
    <ul class="nav-list">
      <li class="a"><a href="fall_form.html"><i class="fa-regular fa-user"></i> Sign-up</a></li>
      <li><a href="about.html"><i class="fa-regular fa-circle-question"></i> About</a></li>
      <li><a href="fall.html"><i class="fa-solid fa-house"></i> Home</a></li>
      <li><a href="contact.html"><i class="fa-solid fa-phone"></i> Contact Us</a></li>
    </ul>
  </div>
</nav>

<section id="contact-form" class="py-3 font">
  <div class="s-container">
    <h1><span class="lux">Contact</span> Us</h1>
      <p>Please fill out all information below. Thank You</p>
    <form action="x.php">
      <div class="form-group">
        <label for="name">Name</label>
        <input type="text" name="name" id="name" placeholder="First and Last Name">
      </div>
      <div class="form-group">
        <label for="Email">Email</label>
        <input type="text" name="email" id="email" placeholder="sample@email.com">
      </div>
      <div class="form-group">
        <label for="Message">Message</label>
        <textarea name="message" id="message" placeholder="Enter your Suggestion, Question, Reaction, Comments."></textarea>
      </div>
      <button class="btn-spd">Submit</button>
    </form>
  </div>
</section>

<div class="clr"></div>

<section id="card">
    <div class="card bg-lux">
      <i class="fa-solid fa-building fa-5x"></i>
      <h3>Location</h3>
      <p>#128 Northwing Bldg. Eastwood Central Park, Quezon City</p>
    </div>
    <div class="card bg-spd">
      <i class="fa-solid fa-phone fa-5x"></i>
      <h3>Phone Number</h3>
      <p>(555)-5555-555</p>
    </div>
    <div class="card bg-lux">
      <i class="fa-solid fa-address-card fa-5x"></i>
      <h3>Email</h3>
      <p>fall@gmail.com </p>
    </div>
</section>


<div class="clr"></div>
<footer id="main-footer">
  <p><span class="txt-fall">FALL</span> Car and Accessories &copy 2022, ALL RIGHTS RESERVED</p>
</footer>

</body>
</html>