<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>FALL | Welcome</title>
<!--    local link files-->
    <link rel="script" href="javascript/fall.js">
    <link rel="stylesheet" href="css/fall_style.css">
    <link rel="stylesheet" media="screen and (max-width: 768px)" href="css/mobile.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <link rel="stylesheet" href="https://fonts.google.com/">
</head>

<body>
<nav id="navbar">
    <div class="nav-container">
        <h2 class="nav-logo head-font"><i class="fa-solid fa-b"></i> FALL</h2>
            <ul class="nav-list">
                <li class="a"><a href="fall_form.html"><i class="fa-regular fa-user"></i> Sign-up</a></li>
                <li><a href="contact.html"><i class="fa-solid fa-phone"></i> Contact Us</a></li>
                <li><a href="about.html"><i class="fa-regular fa-circle-question"></i> About</a></li>
                <li><a href="fall.html"><i class="fa-solid fa-house"></i> Home</a></li>
            </ul>
    </div>
</nav>

    <div class="showcase">
        <div class="s-container">
            <div class="showcase-content">
                <h1 class="head lead font">Welcome to <span class="txt-fall">FALL</span></h1>
                    <p class="lead head-font">Embrace the Masterpiece of <span class="lux">Luxury</span><span class="txt-fall"> and </span><span class="spd">Speed</span></p>
                <p class="font">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi debitis deserunt eligendi error inventore porro rem, sapiente suscipit! Consequatur, cupiditate.</p>
                <a href="#" class="btn-fall font lead">Learn More</a>
            </div>
        </div>
</div>

<section id="home-info" class="bg-fall">
    <div class="info-img"></div>
    <div class="info-content">
        <h2>The History of the <span class="txt-fall">FALL</span></h2>
        <p class="font">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium aliquam aut eum expedita facilis ipsam ipsum, iste laborum maxime natus non praesentium provident quis rerum suscipit, temporibus voluptas voluptatibus! Perspiciatis. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor ea fuga ipsum laudantium libero, repellendus similique. Aliquam animi dicta, enim explicabo, fuga fugiat libero, non officiis provident quod sit vel? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci expedita numquam possimus praesentium. A accusantium autem, beatae, ducimus enim est magni maiores numquam quaerat repellat, saepe totam vero voluptas voluptate? .</p>
        <a href="#" class="btn-lux font">Want to know more?</a>
    </div>
</section>
<section id="card">
    <div class="card bg-lux font">
        <i class="fa-solid fa-car-side fa-5x"></i>
        <h3>Cars</h3>
        <p>Lorem ipsum dolor sit amet,asdasdsa asdsadsa asdasd adasda  consectetur adipisicing elit. Accusamus atque doloremque ex minus ullam. Doloribus ex quae quos sequi voluptas?</p>
    </div>
    <div class="card bg-spd font">
        <i class="fa-solid fa-gears fa-5x"></i>
        <h3>Components & Parts</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus atque doloremque ex minus ullam. Doloribus ex quae quos sequi voluptas?</p>
    </div>
    <div class="card bg-lux font">
        <i class="fa-solid fa-screwdriver-wrench fa-5x"></i>
        <h3>Driver & Services</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus atque doloremque ex minus ullam. Doloribus ex quae quos sequi voluptas?</p>
    </div>
</section>

<div class="clr"></div>

<article id="box">
<div class="box font">
    <h3>Micro</h3>
    <img src="img/cars/micro.jpg" alt="Cars">
    <hr>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam, amet dolorem dolorum fugit natus necessitatibus nobis numquam reiciendis sequi ut Lorem ipsum dolor sit.
    </p>
</div>

<div class="box font">
    <h3>Sedan</h3>
    <img src="img/cars/sedan.jpg" alt="Cars">
    <hr>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores at atque deleniti natus possimus quibusdam recusandae repellendus saepe. Fugiat, tenetur.
    </p>
</div>

<div class="box font">
    <h3>CUV</h3>
    <img src="img/cars/cuv.jpg" alt="Cars">
    <hr>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab animi est et incidunt quis sapiente sit! Animi iste laborum quas.
    </p>
</div>

<div class="box font">
    <h3>Coupe</h3>
    <img src="img/cars/coupe.jpg" alt="Cars">
    <hr>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis dolorem eveniet explicabo fugit laborum libero, placeat quia ratione vitae. Dignissimos?
    </p>
</div>
    <div class="box font">
        <h3>Cabriolet</h3>
        <img src="img/cars/cabriolet.jpg" alt="Cars">
        <hr>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad blanditiis consequuntur esse eum hic iure nam omnis provident quo saepe.
        </p>
    </div>

    <div class="box font">
        <h3>Roadster</h3>
        <img src="img/cars/roadster.jpg" alt="Cars">
        <hr>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque ea eaque incidunt iste reiciendis soluta vitae? Cum illum ipsa perspiciatis.
        </p>
    </div>

    <div class="box font">
        <h3>Pickup</h3>
        <img src="img/cars/pickup.jpg" alt="Cars">
        <hr>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium consequatur eos eum hic maxime obcaecati odio provident quis quos voluptas?
        </p>
    </div>

    <div class="box font">
        <h3>Supercar</h3>
        <img src="img/cars/supercar.jpg" alt="Cars">
        <hr>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque eius eveniet facere similique vel! Eius exercitationem iste odio soluta ullam?
        </p>
    </div>
</article>

<div class="clr"></div>

<footer id="main-footer">
    <p><span class="txt-fall">FALL</span> Car and Accessories &copy 2022, ALL RIGHTS RESERVED</p>
</footer>

</body>
</html>