<h1>Payment Method</h1>

<ul>
  <% @payments.each do |payment| %>
    <li>
      <%= payment.method %>
      <%= link_to :edit, edit_payment_path(payment) %>
      <%= button_to :delete, payment_path(payment), method: :delete %>
    </li>
  <% end %>
</ul>

<%= link_to 'new', new_payment_path %>